
body{
    background-color: #46BE98;
  
   
}

#dss{
    background-color: rgba(255,255,255,0.3);
    height: 50%;
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255,255,255,0.5);
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}
#dss2{
    background-color: rgba(255,255,255,0.3);
    height: 50%;
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255,255,255,0.5);
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}
#dss3{
    background-color: rgba(255,255,255,0.3);
    height: 50%;
    backdrop-filter: blur(20px);
    border: solid 1px rgba(255,255,255,0.5);
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}
.red{
    color: rgba(204, 28, 28, 0.842);
}
.blue{
    color: rgba(0, 25, 252, 0.842);
}